<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Добро пожаловать!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="/Resources/thirdparty/css/font-awesome.min.css" />
            <link rel="stylesheet" href="/Resources/thirdparty/css/dataTables/dataTables.bootstrap.min.css" />
            <link href="/Resources/thirdparty/css/jquery.kladr.min.css" rel="stylesheet">
            <link rel="stylesheet" href="/Resources/thirdparty/css/bootstrap-theme.min.css" />
            <link rel="stylesheet" href="/Resources/thirdparty/css/bootstrap.min.css" />
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="/Resources/thirdparty/js/jquery-1.11.3.js" type="text/javascript"></script>
            <script src="/Resources/thirdparty/js/bootstrap.min.js" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
