{% extends 'default.html.twig' %}

{% block title %}Сводная информация{% endblock %}

{% set page = 1 %}

{% block main %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> Сводная информация </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div> ЗДЕСЬ СКОРО БУДЕТ МНОГО ИНФОРМАЦИИ </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
	<!-- /.row -->
{% endblock %}