# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver:   pdo_pgsql
    database_host:     ec2-54-83-59-110.compute-1.amazonaws.com
    database_port:     5432
    database_name:     ddfavod35ttkan
    database_user:     ichnvdgbmfnbft
    database_password: 0ca8IV_sMiNvV0G2Tqx-6Kdcd1
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # You probably don't want to use "latest" in a production environment...
    aws_sdk_version: latest
    aws_access_key_id: AKIAIMQ6LVEZ7BMQUPSA
    aws_secret_access_key: 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
    aws_s3_region: eu-central-1
    aws_bucket_name: sleepy-tundra-1626-slides
    aws_s3_base_url: 'http://sleepy-tundra-1626-slides.s3-website.eu-central-1.amazonaws.com'
