    <div class="panel-body">
        <div class="slide-container">
            <button class="nav-arrow nav-arrow-left"><i class="fa fa-arrow-left fa-6"></i></button>
            <button class="nav-arrow nav-arrow-right"><i class="fa fa-arrow-right fa-6"></i></button>
            <div class="">

                    <div class="navigation" id="categories"></div>
                    <img id="slide" src="">
                    <div class="navigation" id = "subcategories"></div>


                    {#<p>#}
                    {#{% for category in presentation.getCategories() %}#}
                    {#<a href="">{{ category.getName() }}</a>#}
                    {#{%  endfor %}#}
                    {#</p>#}
                    {#<img src="{{ asset("bundles/app/img/slides/slide1.png") }}">#}
                    {#<p>#}
                    {#{% for subcategory in current_category.getSubcategories() %}#}
                    {#<a href="">{{ subcategory.getName() }}</a>#}
                    {#{%  endfor %}#}
                    {#</p>#}

            </div>
        </div>
        <div id="presentation" data-json="{{ presentation | serialize('json') }}"></div>

    </div>
